{% extends "base.html" %}
{% load crispy_forms_tags %}

<div id="auth modal" class="modal" role="dialog">
    <div class="modal-dialog modal-lg">
{% block content %}
                <h1>{{ title }}</h1>
                <hr/>
                <form method='POST' action='' enctype='multipart/form-data'>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type='submit' class='btn btn-default' value='{{ button }}'/>
                </form>
{% endblock content %}
    </div>
</div>
