{% extends "base.html" %}

{% block content %}
    <div id="auth modal" class="modal" role="dialog">
        <div class = "modal-dialog modal-lg">
            {% if form.errors %}
                <p>Введённые пользовательские данные не совпадают. Пожалуйста попробуйте еще раз.</p>
            {% endif %}

            <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
                {% csrf_token %}
                <table>
                    <tr>
                        <td>Пользователь<!--{{ form.username.label_tag }}--></td>
                        <td>{{ form.username }}</td>
                    </tr>
                    <tr>
                        <td>Пароль<!--{{ form.password.label_tag }}--></td>
                        <td>{{ form.password }}</td>
                    </tr>
                </table>

                <input type="submit" value="login"/>
                <input type="hidden" name="next" value="{{ next }}"/>
            </form>
        </div>
    </div>

{% endblock %}