{% extends "base.html" %}
{% block content %}

        <h1>{{ title }}</h1>
        <form method='GET' action='' class='row'>
            <div class='col-sm-10 '>
                <div class='input-group mb-3'>
                    <input class='form-control' type='text' name='q' placeholder='Поиск сообщения'
                           value='{{ request.GET.q }}'/>
                    <span class='input-group-append'>
                    <!-- <input class='btn btn-default' type='submit' value='Search' /> -->
                    <button class='btn btn-outline-secondary' type='submit'>Поиск <i class="fa fa-search"></i></button>
                </span>
                </div>
            </div>
        </form>
        {% for obj in object_list %}
            <div class="card w-90 border-primary shadow-lg p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    {% if obj.image %}
                        <img src='{{ obj.image.url }}' class='img-responsive'/>
                        {% endif %}
                            {% if obj.draft %}<h3>Staff only: Draft</h3>{% endif %} {% if obj.publish > today %}
                            <h3>Staff Only: Future Post</h3>{% endif %}
                            <h3><a href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a>
                                <small>{{ obj.publish }}</small>
                            </h3>
                            {% if obj.user.get_full_name %}<p>Автор: {{ obj.user.get_full_name }}</p>{% endif %}
                            {{ obj.get_markdown|truncatechars_html:120 }}
                            <hr class="bg-primary">
                            <a href="{{ obj.get_absolute_url }}" class="btn btn-outline-primary" role="button">Просмотр</a>
                            {% if request.user.is_superuser  and obj.user.get_full_name %}
                                <a href="{{ obj.get_absolute_url }}/edit/" class="btn btn-outline-success" role="button">Редактировать</a>
                                <a href="{{ obj.get_absolute_url }}/delete/" class="btn btn-outline-danger" role="button">Удаить</a>
                            {% endif %}
                </div>
            </div>
            <br>
        {% endfor %}
    <!-- Пагинация -->
    <br><br>
    <div class="pagination justify-content-center">
        <nav aria-label="...">
          <ul class="pagination justify-content-center">
          {% if object_list.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" tabindex="-1">&laquo; Туда</a>
            </li>
              {% else %}
                  <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1">&laquo; Туда</a>
            </li>
          {% endif %}
            <li class="page-item disabled">
              <a class="page-link" href="#">Страница {{ object_list.number }} из {{ object_list.paginator.num_pages }}<span class="sr-only">(current)</span></a>
            </li>
            {% if object_list.has_next %}
              <li class="page-item">
              <a class="page-link" href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Сюда &raquo;</a>
            </li>
              {% else %}
                  <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1">Сюда &raquo;</a>
            </li>
          {% endif %}
          </ul>
        </nav>
    </div>
{% endblock content %}