{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_extra %}
    {{ form.media }}

{% endblock head_extra %}



{% block content %}
        <h1>Предпросмотр.</h1>
        <hr/>
        <div class='content-preview'>
        [Временно не доступен. Причина: отсутствует css или javaScript]
            <h3 id='preview-title'></h3>
            <p id='preview-content'></p>
        </div>

        <h1>Форма создания поста</h1>
        <hr/>

        <form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
            {{ form|crispy }}
            <input type='submit' class='btn btn-default' value='Create Post'/>
        </form>
{% endblock content %}