{% load widget_tweaks %}

<form method="post" action="">
  {% csrf_token %}

  <div class="modal-header">
    <h3 class="modal-title">Удалить читателя</h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <p>Вы действительно хотите удалить читалетя
      <strong>[{{ object_list.rdr_id }}]</strong>?</p>
    <p>Данный читательбудет удалён безвозвратно.</p>
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-danger">Удалить</button>
  </div>

</form>