{% load widget_tweaks %}

<div class="modal-header">
    <h3 class="modal-title">Информация о читателе - [{{ readers.rdr_id }}]</h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    ФИО: {{ readers.name }}<br>
    Номер читательского: {{ readers.rdr_id }}<br>
    Пол: {{ readers.sex }}<br>
    Статус читателя: {{ readers.code }}<br>
    День рождения: {{ readers.birthday }}<br>
    Паспрорт: {{ readers.passport }}<br>
    Адрес: {{ readers.address }}<br>
    Рабочий телефон: {{ readers.workphone }}<br>
    Домашний телефон: {{ readers.homephone }}<br>
    Электронная почта: {{ readers.email }}<br>
    Пейджер: {{ readers.pager }}<br>
    Место работы/учёбы: {{ readers.employment }}<br>
    Курс: {{ readers.course }}<br>
    Профессия: {{ readers.profession }}<br>
    Занимаемая должность: {{ readers.post }}<br>
    Дата регистрации: {{ readers.dataTime.regDTime }}<br>
    абонимент: {{ readers.dataTime.reregDTime }}<br>
    Примечание: {{ readers.notes }}<br>
    Сиглы: {{ readers.dataTime.siglas }}<br>
    Читальный зал: {{ readers.dataTime.sigl1DTime }}<br>
    Зал периодики: {{ readers.dataTime.sigl2DTime }}<br>
    ИКО: {{ readers.dataTime.sigl3DTime }}<br>
    Интерактивный зал: {{ readers.sigl4 }}
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
</div>