{% load i18n widget_tweaks %}
<div class="modal fade" id="modalReader" tabindex="-1" role="dialog" aria-labelledby="ModalInfoReadrs"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="item_update_form" method='post' class="form" role="form" action='{% url 'lib:detail' readers.pk %}'>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">Item {{ object_list.pk }}</h4>
                </div>

                <div class="modal-body">
                    Карта читателя - {{ object_list.rdr_id }}<br>
                    ФИО: {{ object_list.name }}<br>
                    Номер читательского: {{ object_list.rdr_id }}<br>
                    Пол: {{ object_list.sex }}<br>
                    Статус читателя: {{ object_list.code }}<br>
                    День рождения: {{ object_list.birthday }}<br>
                    Паспрорт: {{ object_list.passport }}<br>
                    Адрес: {{ object_list.address }}<br>
                    Рабочий телефон: {{ object_list.workphone }}<br>
                    Домашний телефон: {{ object_list.homephone }}<br>
                    Электронная почта: {{ object_list.email }}<br>
                    Пейджер: {{ object_list.pager }}<br>
                    Место работы/учёбы: {{ object_list.employment }}<br>
                    Курс: {{ object_list.course }}<br>
                    Профессия: {{ object_list.profession }}<br>
                    Занимаемая должность: {{ object_list.post }}<br>
                    Дата регистрации: {{ regdate }}<br>
                    абонимент: {{ reregdate }}<br>
                    Примечание: {{ instance.notes }}<br>
                    Сиглы: {{ instance.siglas }}<br>
                    Читальный зал: {{ sigl1 }}<br>
                    Зал периодики: {{ sigl2 }}<br>
                    ИКО: {{ sigl3 }}<br>
                    Интерактивный зал: {{ sigl4 }}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary">Сохранить изменения</button>
                </div>
            </form>
        <script>
            var form_options = { target: '#modal', success: function(response) {} };
            $('#item_update_form').ajaxForm(form_options);
        </script>
        </div>
    </div>
</div>
