{% load crispy_forms_tags %}

{% block head_extra %}
    {{ form.media }}

{% endblock head_extra %}

{% block modal %}
    <div class='col-sm-6'>

        <form method='POST' action='' enctype='multipart/form-data'>
            {% csrf_token %}
            {{ form|crispy }}
            <input type='submit' class='btn btn-default' value='Добавить читателя'/>
        </form>
    </div>
{% endblock modal %}