{% extends "base.html" %}

{% block extra_js %}
    <script src="http://malsup.github.com/jquery.form.js"></script>
{% endblock %}

{% block content %}

    <!-- Шапка -->
    <h1>{{ title }}</h1>
    {% load widget_tweaks %}
        <!-- <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        </div> /.modal -->

        <form method='GET' action='' class='row'>
            <div class='col-sm-10 '>
                <div class='input-group mb-3'>
                    <input class='form-control' type='text' name='q' placeholder='Поиск читателя'
                           value='{{ request.GET.q }}'/>
                    <span class='input-group-append'>
                    <!-- <input class='btn btn-default' type='submit' value='Search' /> -->
                    <button class='btn btn-outline-secondary' type='submit'>Поиск <i class="fa fa-search"></i></button>
                </span>
                </div>
            </div>
        </form>
    <!-- Таблица вывода читателей -->

    <div class="row">
        <div class="modal-body">
            <table class="table">
                <thead>
                <tr>
                    <th>№</th>
                    <th>Читательский</th>
                    <th>ФИО</th>
                    <th>Категория читателя</th>
                    <th>Просмотр/Редакт/Удаление</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in object_list %}
                    <tr>
                        <td>{{ obj.id }}</td>
                        <td><a href="{% url 'lib:read_reader' obj.pk %}" class="read-reader" data-toggle="modal">{{ obj.rdr_id }}</a></td>
                        <td>{{ obj.name }}</td>
                        <td><span class="price">{{ obj.code }}</span></td>
                        <td>
                            <button type="button" class="read-reader btn btn-sm btn-primary" data-id="{% url 'lib:read_reader' obj.pk %}" title="Профиль читателя"><span class="fa fa-address-card-o"></span></button>
                            <button type="button" class="read-reader btn btn-sm btn-primary" data-id="{% url 'lib:read_reader' obj.pk %}" title="Списк книг на руках"><span class="fa fa-book"></span></button>
                            <button type="button" class="update-reader btn btn-sm btn-success" data-id="{% url 'lib:update_reader' obj.pk %}" title="Редактировать читателя"><span class="fa fa-pencil"></span></button>
                            <button type="button" class="delete-reader btn btn-sm btn-danger" data-id="{% url 'lib:delete_reader' obj.pk %}" title="Удалить читателя"><span class="fa fa-trash"></span></button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        <!--
            {{ obj.get_markdown|truncatechars_html:120 }}
            <hr class="bg-primary">
            <a href="{{ obj.get_absolute_url }}" class="btn btn-outline-primary" role="button">Просмотр</a>-->
        </div>
    </div>

<div class="btn-group justify-content-center" role="group" aria-label="Basic example">
  <button type="button" class="create-reader btn btn-secondary"><span class="fa fa-plus mr-2"></span>Добавить читателя</button>
  <button type="button" class="btn btn-secondary">Спсиок книг на руках</button>
  <button type="button" class="btn btn-secondary">Сортировка</button>
</div>
{% block extrascripts %}
  <script type="text/javascript">
    $(function () {

      // Add reader button
      $(".create-reader").modalForm({formURL: "{% url 'lib:create_reader' %}"});

      // Update reader buttons
      $(".update-reader").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });

      // Read reader buttons
      $(".read-reader").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });

      // Delete reader buttons
      $(".delete-reader").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });

    });
  </script>
{% endblock extrascripts %}



    <!-- Пагинация -->


    <br><br>
        <div class="pagination justify-content-center">
        {% load bootstrap_pagination from bootstrap4 %}
        {% for article in object_list %}

        {% endfor %}
        {% bootstrap_pagination object_list pages_to_show="5" %}
    </div>
    <!--
    <div class="pagination justify-content-center">
        <nav aria-label="...">
          <ul class="pagination justify-content-center">
          {% if object_list.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" tabindex="-1">&laquo; Туда</a>
            </li>
              {% else %}
                  <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1">&laquo; Туда</a>
            </li>
          {% endif %}
            <li class="page-item disabled">
              <a class="page-link" href="#">Страница {{ object_list.number }} из {{ object_list.paginator.num_pages }}<span class="sr-only">(current)</span></a>
            </li>
            {% if object_list.has_next %}
              <li class="page-item">
              <a class="page-link" href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Сюда &raquo;</a>
            </li>
              {% else %}
                  <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1">Сюда &raquo;</a>
            </li>
          {% endif %}
          </ul>
        </nav>-->
    </div>


{% endblock content %}
