{% extends "base.html" %}
{% load urlify %}
{% load crispy_forms_tags %}


{% block head_title %}
    {{ instance.title }} | {{ block.super }}
{% endblock head_title %}


{% block post_detail_link %}
    <li><a href='{{ instance.getAbsoluteUrl }}'>{{ instance.title }}</a></li>
{% endblock %}



{% block content %}
    <div class='col-sm-6 col-sm-offset-3'>
        {% if instance.image %}
            <img src='{{ instance.image.url }}' class='img-responsive'/>
        {% endif %}
        <h1>{{ name }}
            <small>
                {% if instance.draft %}<span style='color:red;'>Draft</span> {% endif %}{{ instance.publish }}
            </small>
        </h1>

        <!-- {% if instance.read_time|time:"i" <= "01" %} < 1 minute {% else %}{{ instance.read_time|time:"i" }}
             minutes {% endif %} -->


        <p>Время прочтения: {% if instance.readTime <= 1 %} < 1 Минуты {% else %}{{ instance.readTime }}
            минут(ы) {% endif %}</p>
        {% if instance.user.get_full_name %}
            <p>Отправитель: {{ instance.user.get_full_name }}</p>
            <p>Отдел отправитель: {{ instance.user.groups.get }}</p>
            <p>Проверочное поле: {{ instance.depRec }}</p>
        {% endif %}

            <hr/>
    </div>
        <div class='row'>
            <div class='col-sm-12 '>
                <div class='post-detail-item'>{{ instance.getMarkdown }}</div>
                <hr/>

                <br/>
            </div>
        </div>

{% endblock content %}