{% extends "base.html" %}
{% load urlify %}
{% load crispy_forms_tags %}

{% block content %}
            <h3>Карта читателя - {{ instance.rdr_id }}</h3>
            <p>ФИО: {{ instance.name }}
            <p>Номер читательского: {{ instance.rdr_id }}</p>
            <p>Пол: {{ instance.sex }}</p>
            <p>Статус читателя: {{ instance.code }}</p>
            <p>День рождения: {{ birthday }}</p>
            <p>Паспрорт: {{ instance.passport }}</p>
            <p>Адрес: {{ instance.address }}</p>
            <p>Рабочий телефон: {{ instance.workphone }}</p>
            <p>Домашний телефон{{ instance.homephone }}</p>
            <p>Электронная почта: {{ instance.email }}</p>
            <p>Пейджер: {{ instance.pager }}</p>
            <p>Место работы/учёбы: {{ instance.employment }}</p>
            <p>Курс: {{ instance.course }}</p>
            <p>Профессия: {{ instance.profession }}</p>
            <p>Занимаемая должность: {{ instance.post }}</p>
            <p>Дата регистрации: {{ regdate }}</p>
            <p>абонимент: {{ reregdate }}</p>
            <p>Примечание: {{ instance.notes }}</p>
            <p>Сиглы: {{ instance.siglas }}</p>
            <p>Читальный зал: {{ sigl1 }}</p>
            <p>Зал периодики: {{ sigl2 }}</p>
            <p>ИКО: {{ sigl3 }}</p>
            <p>Интерактивный зал: {{ sigl4 }}</p>


        <button type="button" class="btn btn-success">Обновить дату</button>
        <button type="button" class="btn btn-primary">Редактировать</button>
        <button type="button" class="btn btn-danger">Удалить</button>

{% endblock content %}