<div class="panel-footer text-center py-3 bg-light">© 2018 Copyright:<br>
    <a>The project was developed by the </a><a href="https://gitlab.com/Alpaca-soft"> Alpaca-Soft </a>group.<br>
    This project is licensed under the <a href="https://gitlab.com/Alpaca-soft/LIS/blob/master/LICENSE">Apache License
        2.0</a>.
</div>