<!--{% if messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">

        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {% if "html_safe" in message.tags %}
                        {{ message|safe }}
                    {% else %}{{ message }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
    </div>

{% endif %}-->