{% extends "base.html" %}
{% block content %}
        <h1>{{ title }}</h1>
        <form method='GET' action='' class='row'>
            <div class='col-sm-6'>
                <div class='input-group'>
                    <input class='form-control' type='text' name='q' placeholder='Поиск заявки'
                           value='{{ request.GET.q }}'/>
                    <span class='input-group-btn'>
                    <!-- <input class='btn btn-default' type='submit' value='Search' /> -->
                    <button class='btn btn-default' type='submit'>Поиск <i class="fa fa-search"></i></button>
                </span>
                </div>
            </div>
        </form>
        {% for obj in object_list %}
            {% if obj.depRec == user.groups.get %}
            <div class="row">

                <div class="col-sm-12">
                    <div class="thumbnail">

                        {% if obj.image %}
                            <img src='{{ obj.image.url }}' class='img-responsive'/>
                        {% endif %}
                        <div class="caption post-detail-item">
                            {% if obj.draft %}<h3>Staff only: Draft</h3>{% endif %} {% if obj.timestamp > today %}
                            <h3>Staff Only: Future Post</h3>{% endif %}
                            <h3><a href='{{ obj.getAbsoluteUrl }}'>Тема заявки: {{ obj.title }}</a>
                                <small>{{ obj.timestamp }}</small>
                            </h3>
                            {% if obj.user.get_full_name %}
                                <p>Отправитель: {{ obj.user.get_full_name }}</p>
                                <p>Отдел отправитель: {{ obj.user.groups.get }}</p>
                                <p>Отдел получатель: {{ obj.depRec }}</p>
                                <p>Статус заявки: {{ obj.status }}</p>
                            {% endif %}
                            {{ obj.get_markdown|truncatechars_html:120 }}
                            <p><a href="{{ obj.getAbsoluteUrl }}" class="btn btn-primary" role="button">Открыть</a></p>
                        </div>

                    </div>

                </div>

                <hr/>
            </div>
            {% endif %}
        {% endfor %}

    <!-- Пагинация -->
    <br><br>
    <div class="pagination justify-content-center">
        <nav aria-label="...">
          <ul class="pagination justify-content-center">
          {% if object_list.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" tabindex="-1">&laquo; Туда</a>
            </li>
              {% else %}
                  <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1">&laquo; Туда</a>
            </li>
          {% endif %}
            <li class="page-item disabled">
              <a class="page-link" href="#">Страница {{ object_list.number }} из {{ object_list.paginator.num_pages }}<span class="sr-only">(current)</span></a>
            </li>
            {% if object_list.has_next %}
              <li class="page-item">
              <a class="page-link" href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Сюда &raquo;</a>
            </li>
              {% else %}
                  <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1">Сюда &raquo;</a>
            </li>
          {% endif %}
          </ul>
        </nav>
    </div>
{% endblock content %}
